@import url('variables.css');

.brands-carroussel {
    background-color: var(--bracp);
    height: 15vh;
}

@keyframes slideLeft {
    100% {
        transform: translateX(calc(-100% /2));
    }
}

.slider {
    position: absolute;
    width: 100vw;
    height: 15vh;
    box-shadow: 0 .8rem 1.4rem -.2rem #0001;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:hover {
        .brands {
            animation-play-state: paused;
        }
    }


    .brands {
        width: var(--total-logo-width);
        display: flex;

        animation: slideLeft var(--animation-duration) linear infinite;


        .brand-logo {
            width: var(--logo-width);
            align-content: center;
            text-align: center;
            margin-left: 3rem;
        }
    }
}

.slider::before,
.slider::after {
    position: absolute;
    content: "";

    height: 100%;
    width: var(--logo-width);
}

.slider::before {
    right: 0;
    background: linear-gradient(to left, #fff 0%, #0000 100%);
}

.slider::after {
    left: 0;
    background: linear-gradient(to right, #fff 0%, #0000 100%);
}