@import url('variables.css');

.contact-page {
    scroll-margin-top: calc(var(--h-header) + 4em);
    position: relative;

    height: 100%;
    margin-bottom: 20rem;
    background-color: var(--preto);
}

.contact-page-content {
    position: relative;
    top: 10rem;
    display: flex;
}

.contact-page-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {

        h2 {
            text-align: start;
            color: var(--branco);
            font-weight: 500;
            font-size: 60px;

            span {
                font-weight: 700;
            }
        }
    }
}

.contact-page-forms {
    width: 40%;

    .field-form {
        .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                font-size: 14px;
                font-weight: 600;
                padding: 10px 10px;
                outline: unset;
                border: 1px solid var(--preto);
                background-color: var(--branco);
                border-radius: 10px;
                height: 50px;
            }

            .block {
                display: flex;
                gap: 1rem;
                width: 100%;

                .form-name {
                    width: 100%;

                }

                .form-numero {
                    width: 100%;


                }
            }

            .form-email {}

            .select-options {
                height: 90px;

                option {}
            }

            .form-message {
                font-size: 14px;
                font-weight: 600;
                padding: 10px 10px;
                background-color: var(--branco);
                border-radius: 10px;
                height: 244px;
                outline: unset;
            }

            .enviar {
                background-color: var(--roxo);
                color: var(--branco);
                font-size: 13px;
                font-weight: 500;
                height: 50px;
                border-radius: 10px;
                transition: transform 0.5s, background-color 0.5s, color 0.5s, width 0.5s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

/*      *     Responsividade     Celular         */

@media (max-width: 768px) {
    .contact-page {
    }
    .contact-page-text {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;

        .title {
            h2 {

                font-size: 32px;
            }
        }
    }

    .contact-page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contact-page-forms {
        width: 100%;
    }



}

/*       *    Responsividade     Landscape Celular         */

@media screen and (orientation: landscape)and (max-width: 1024px) {

    .contact-page {
        height: 200vh;
    }

    .contact-page-text {
        .title {
            h2 {

                font-size: 42px;
            }
        }
    }
}

/*       *    Responsividade     Tablet         */

@media (min-width: 768px) and (max-width: 1440px) {

    .contact-page {
        /* height: 100vh;*/
        margin-bottom: 25rem;
    }

    .contact-page-content {
        gap: 2rem;
    }

    .contact-page-text {


        .title {

            h2 {

                font-size: 50px;
            }
        }
    }

}

/*      *     Responsividade     Tablet Landscape         */

@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1200px) {}

/*      *     Responsividade     Notebook         */

@media (min-width: 1024px) and (max-width: 1440px) {
    .contact-page {
        margin-bottom: 25rem;
    }
}